                                            * {
                                                margin: 0;
                                                padding: 0
                                            }
                                            
                                            em,
                                            i {
                                                font-style: normal
                                            }
                                            
                                            li {
                                                list-style: none
                                            }
                                            
                                            img {
                                                border: 0;
                                                display: block;
                                            }
                                            
                                            button {
                                                cursor: pointer
                                            }
                                            
                                            body {
                                                font-family: "Noto Sans", sans-serif;
                                                line-height: 1.5;
                                                font-weight: 400;
                                            }
                                            
                                            .container {
                                                max-width: 1296px;
                                                margin: auto;
                                                padding: 12px;
                                            }
                                            
                                            .topnav {
                                                width: 100%;
                                                padding-left: 40px;
                                                padding-right: 40px;
                                                margin: auto;
                                            }
                                            
                                            header {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                                position: fixed;
                                                z-index: 1;
                                                left: 0;
                                                top: 0;
                                                width: 100%;
                                                border-bottom: 1px solid #F1F1F1;
                                                background-color: rgba(255, 255, 255, 0.8);
                                            }
                                            
                                            .HamBg {
                                                display: none;
                                            }
                                            
                                            .HamBg i {
                                                font-size: 40px;
                                            }
                                            
                                            .logo {
                                                position: absolute;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                margin-left: 6%;
                                            }
                                            
                                            .nav {
                                                display: flex;
                                                justify-content: center;
                                                gap: 40px;
                                                margin: auto;
                                                color: #000;
                                            }
                                            
                                            .nav li {
                                                padding: 16px 0px;
                                            }
                                            
                                            .nav a {
                                                display: flex;
                                                transition: all 0.2s;
                                                position: relative;
                                                padding: 4px 8px;
                                                text-decoration: none;
                                                color: black;
                                            }
                                            
                                            .nav a:hover {
                                                font-weight: 800;
                                            }
                                            
                                            .nav a span {
                                                display: none;
                                            }
                                            
                                            .nav a:hover span {
                                                display: block;
                                            }
                                            
                                            *,
                                            *::before,
                                            *::after {
                                                box-sizing: border-box;
                                            }
                                            
                                            img {
                                                max-width: 100%;
                                                height: auto;
                                                vertical-align: middle;
                                            }
                                            
                                            img:hover {
                                                transform: scale(1.1);
                                            }
                                            
                                            .top-left {
                                                position: absolute;
                                                width: 8px;
                                                height: 8px;
                                                top: 0;
                                                left: 0;
                                                border-top: 1px solid #919191;
                                                border-left: 1px solid #919191;
                                            }
                                            
                                            .top-right {
                                                position: absolute;
                                                width: 8px;
                                                height: 8px;
                                                top: 0;
                                                right: 0;
                                                border-top: 1px solid #919191;
                                                border-right: 1px solid #919191;
                                            }
                                            
                                            .bottom-left {
                                                position: absolute;
                                                width: 8px;
                                                height: 8px;
                                                bottom: 0;
                                                left: 0;
                                                border-bottom: 1px solid #919191;
                                                border-left: 1px solid #919191;
                                            }
                                            
                                            .bottom-right {
                                                position: absolute;
                                                width: 8px;
                                                height: 8px;
                                                bottom: 0;
                                                right: 0;
                                                border-bottom: 1px solid #919191;
                                                border-right: 1px solid #919191;
                                            }
                                            
                                            .Portfolio-Title {
                                                text-align: center;
                                                padding: 80px 0;
                                                font-size: 24px;
                                                background-color: #FAFAFA;
                                            }
                                            
                                            .Portfolio-Title span {
                                                position: relative;
                                            }
                                            
                                            h2.title {
                                                line-height: 38px;
                                                color: #1E1E1E;
                                                font-size: 21px;
                                            }
                                            
                                            .quote {
                                                color: #1E1E1E;
                                                width: 40%;
                                                margin: 80px auto 0;
                                                padding: 50px 0px;
                                                display: flex;
                                                flex-direction: column;
                                                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true), url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true);
                                                background-repeat: no-repeat;
                                                background-position: left top, right bottom;
                                            }
                                            
                                            span.point {
                                                position: relative;
                                                z-index: 1;
                                            }
                                            
                                            span.point::after {
                                                content: "";
                                                position: absolute;
                                                z-index: -1;
                                                width: 120%;
                                                height: 8px;
                                                bottom: 0;
                                                left: 50%;
                                                transform: translateX(-50%);
                                                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
                                                background-size: 100% 100%;
                                                background-repeat: no-repeat;
                                            }
                                            
                                            ul.banner-desc {
                                                color: #5B5B5B;
                                                max-width: 50%;
                                                margin: 0 auto;
                                                display: flex;
                                                justify-content: center;
                                                padding-top: 24px;
                                                font-size: 16px;
                                            }
                                            
                                            ul.banner-desc .desc {
                                                width: 35%;
                                                text-align: center;
                                                padding: 0 15px;
                                            }
                                            
                                            ul.banner-desc h3 {
                                                margin-bottom: 12px;
                                            }
                                            
                                            ul.banner-desc h3::after {
                                                content: "";
                                                position: relative;
                                                width: 24px;
                                                height: 2px;
                                                margin-bottom: 12px;
                                                display: block;
                                                background-color: #C1C1C1;
                                                bottom: -4px;
                                                left: 50%;
                                                transform: translateX(-50%);
                                            }
                                            
                                            .works {
                                                margin: 100px auto;
                                            }
                                            
                                            ul.works-list {
                                                display: flex;
                                                flex-wrap: wrap;
                                                justify-content: center;
                                                gap: 24px;
                                                padding-left: 0;
                                            }
                                            
                                            ul.works-list>li {
                                                list-style: none;
                                                margin-bottom: 60px;
                                                width: 48%;
                                            }
                                            
                                            ul.works-list img {
                                                border-radius: 8px;
                                                border: 1px solid #F1F1F1;
                                                width: 100%;
                                            }
                                            
                                            ul.works-list p {
                                                color: grey;
                                                padding-left: 16px;
                                                color: #919191;
                                            }
                                            
                                            ul.works-list h2 {
                                                font-size: 28px;
                                                font-weight: bold;
                                                color: #3B3B3B;
                                                margin: 16px 0 8px 16px;
                                                line-height: 1.2;
                                            }
                                            
                                            ul.works-tags {
                                                display: flex;
                                                list-style: none;
                                                padding: 24px 0 0 16px
                                            }
                                            
                                            ul.works-tags li {
                                                background-color: #F1F1F1;
                                                color: #3B3B3B;
                                                padding: 4px 12px;
                                                border-radius: 16px;
                                                margin-left: 16px;
                                            }
                                            
                                            ul.works-tags li:hover {
                                                cursor: pointer;
                                            }
                                            
                                            .pagelist {
                                                display: flex;
                                                justify-content: center;
                                                gap: 10px;
                                            }
                                            
                                            .pagelist li {
                                                border-radius: 4px;
                                                padding: 2px 13px;
                                                cursor: pointer;
                                                transition: all 0.2s;
                                            }
                                            
                                            .pagelist li:hover {
                                                background-color: #F1F1F1;
                                            }
                                            
                                            .pagelist li.active {
                                                background-color: #1e1e1e;
                                                color: #fff;
                                            }
                                            
                                            .footer-bg {
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                                background-position: center top;
                                                background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true);
                                            }
                                            
                                            .footer {
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                                font-size: 20px;
                                            }
                                            
                                            .btn-list {
                                                margin: 12px 0;
                                                display: flex;
                                                align-items: center;
                                                border: 1px solid #C1C1C1;
                                                border-radius: 8px;
                                                background-color: #fff;
                                                border-radius: 8px;
                                                padding: 8px 24px;
                                                gap: 8px;
                                            }
                                            
                                            .footer-desc {
                                                color: #3B3B3B;
                                                margin-top: 24px;
                                                margin-bottom: 24px;
                                            }
                                            
                                            .footer-social {
                                                margin-top: 68px;
                                                margin-bottom: 68px;
                                            }
                                            
                                            .footer-social a {
                                                color: rgb(59, 59, 59);
                                                text-decoration: none;
                                            }
                                            
                                            .footer-social a:hover {
                                                color: #fff;
                                                background-color: #000;
                                            }
                                            
                                            .footer p {
                                                font-size: 20px;
                                            }
                                            
                                            .contact {
                                                color: #919191;
                                            }
                                            
                                            @media(max-width:992px) {
                                                .works-list h2 {
                                                    font-size: 20px;
                                                }
                                                .works-list>li {
                                                    width: 100%;
                                                    margin-top: 48px;
                                                    display: flex;
                                                    flex-direction: column;
                                                }
                                                .banner-desc {
                                                    padding-top: 40px;
                                                    padding-left: 37.5px;
                                                    padding-right: 37.5px;
                                                }
                                            }
                                            
                                            @media(max-width:767px) {
                                                .nav {
                                                    gap: unset;
                                                }
                                                .nav a {
                                                    font-size: 20px;
                                                }
                                                .nav li {
                                                    padding: 12px 0px;
                                                }
                                                .quote {
                                                    margin: 50px auto 0;
                                                }
                                                .Portfolio-Title {
                                                    padding: 60px 0;
                                                }
                                                ul.banner-desc {
                                                    padding-top: 35px;
                                                }
                                                ul.banner-desc .desc {
                                                    width: unset;
                                                    font-size: 18px;
                                                }
                                                .works {
                                                    margin: 20px auto 60px auto;
                                                }
                                                ul.works-list>li {
                                                    width: 100%;
                                                }
                                                ul.works-list {
                                                    margin-bottom: 50px;
                                                }
                                                .pagelist li {
                                                    font-size: 24px;
                                                }
                                                .quote {
                                                    background-position: center top, center bottom;
                                                }
                                                .title {
                                                    margin: 15px 0;
                                                    /*        line-height: 1.5;  */
                                                    font-size: 20px;
                                                }
                                                .HamBg {
                                                    display: block;
                                                    position: absolute;
                                                    right: 12px;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                }
                                                .topnav {
                                                    justify-content: space-between;
                                                    width: 100%;
                                                    height: 50px;
                                                }
                                                .topnav a.icon {
                                                    align-content: center;
                                                    color: black;
                                                    padding: 10px;
                                                }
                                                .topnav.responsive {
                                                    position: relative;
                                                }
                                                nav ul {
                                                    flex-direction: column;
                                                    position: fixed;
                                                    background-color: #fff;
                                                    width: 100%;
                                                    left: 0;
                                                    top: 75px;
                                                    opacity: 0;
                                                    align-items: center;
                                                    pointer-events: none;
                                                    transition: all 0.3s;
                                                }
                                                nav ul.active {
                                                    padding: 25px 0;
                                                }
                                                nav ul.active {
                                                    opacity: 1;
                                                    pointer-events: all;
                                                }
                                                nav ul li a.active {
                                                    font-weight: 600;
                                                }
                                                .banner-desc {
                                                    flex-direction: column;
                                                    gap: 20px;
                                                    max-width: 235px;
                                                }
                                                .banner-desc .desc {
                                                    width: 100%;
                                                }
                                                .quote {
                                                    width: 80%;
                                                }
                                                .works-list {
                                                    flex-direction: column;
                                                }
                                                ul.works-list>li {
                                                    margin-bottom: unset;
                                                }
                                                .footer-bg {
                                                    padding-top: 50px;
                                                }
                                                .footer {
                                                    display: flex;
                                                    flex-direction: column;
                                                    margin: 0 auto;
                                                }
                                                .footer-about {
                                                    color: #919191;
                                                    text-align: center;
                                                }
                                                .footer-about img {
                                                    margin: auto;
                                                    width: 120px;
                                                }
                                                .footer-social {
                                                    margin-top: 28px;
                                                    margin-bottom: 28px;
                                                }
                                            }